@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cursor: #5b21b6;
    --am-prism-line-numbers-color: #565f8977;
    --am-prism-border-color: #565f8922;
    --am-prism-copy-color: #a9b1d6;
    --am-prism-copy-bg: #565f8933;
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --cursor: #5b21b6;

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .docs-title {
    @apply w-full border-b-2 border-border py-2 pb-4 font-bold mb-8;
  }
  .docs {
    @apply w-full md:px-16 px-4;
  }
  .docs-content {
    @apply px-4 md:px-12 font-mono;
  }
  .docs-description {
    @apply w-full text-start text-secondary-foreground my-4;
  }
  .inline-code {
    @apply bg-neutral-200 dark:bg-neutral-800 px-2 py-1 rounded-sm;
  }
  
 code[class*='language-'],
 pre[class*='language-'] {
     color: #a9b1d6 !important;
 }
 
 pre[class*='language-']::-moz-selection,
 pre[class*='language-'] ::-moz-selection,
 code[class*='language-']::-moz-selection,
 code[class*='language-'] ::-moz-selection {
     text-shadow: none !important; 
     @apply !bg-opacity-75 !bg-transparent !backdrop-blur-lg
 }
 
 pre[class*='language-']::selection,
 pre[class*='language-'] ::selection,
 code[class*='language-']::selection,
 code[class*='language-'] ::selection {
     text-shadow: none;
     @apply !bg-opacity-75 !bg-transparent !backdrop-blur-lg
 }
 
 :not(pre) > code[class*='language-'],
 pre[class*='language-'] {
     color: white !important;
     @apply !bg-opacity-75 !bg-transparent !backdrop-blur-lg
 }
 
 :not(pre) > code[class*='language-'] {
     padding: 0.1em !important;
     border-radius: 0.3em !important;
     white-space: normal !important;
 }
 
 .token.comment {
     color: #565f89 !important;
     font-style: italic !important;
 }
 
 .token.keyword {
     color: #9d7cd8 !important;
 }
 
 .token.operator {
     color: #89ddff !important;
 }
 
 .token.punctuation {
     color: #bb9af7 !important;
 }
 
 .token.builtin {
     color: #f7768e !important;
 }
 
 .token.number {
     color: #ff9e64 !important;
 }
 
 .token.constant {
     color: #ff9e64 !important;
 }
 
 .token.string {
     color: #9ece6a !important;
 }
 
 .token.symbol {
     color: #2ac3de !important;
 }
 
 .token.attr-name {
     color: rgb(241, 250, 140) !important;
 }
 
 .token.selector {
     color: #9ece6a !important;
 }
 
 .token.hexcode {
     color: #9aa5ce !important;
 }
 
 .token.function {
     color: #7aa2f7 !important;
 }
 
 .token.tag {
     color: #9ece6a !important;
 }
 
 .token.variable {
     color: #c0caf5 !important;
 }
 
 .token.char {
     color: #bb9af7 !important;
 }
 
 .token.property {
     color: #2ac3de  !important;
 }
 
 .token.inserted {
     color: #449dab !important;
 }
 
 .token.deleted {
     color: #914c54 !important;
 }
 
 .token.changed {
     color: #6183bb !important;
 }
 
 .token.regex {
     color: #b4f9f8 !important;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold !important;
 }
 
 .token.italic {
     font-style: italic !important;
 }
}